html {
  font-size: 14px;
  overflow-y: scroll; /* scrollbar always visible */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar {
  background-color:#1e3a8a !important;
  padding: 15px 20px;
}

.navbar-brand {
  color: #e0e0e0 !important;
}

.nav-link {
  color: rgba(244,244,244,0.6) !important; /* Reduced opacity */
  text-decoration: none; /* Remove underline */
  font-size: 18px;
  /*font-weight: bold;*/
  margin-right: 20px; /* Space between links */
  padding: 5px 10px; /* Padding inside each link for better click area */
  transition: color 0.3s ease; /* Add a smooth color transition */
  font-weight: 400;
}

/* On hover, increase opacity */
.nav-link:hover {
  color: #ffffff!important; /* Full opacity on hover */
}

/* On the login page, set full opacity */
body.login-page .nav-link {
  color: rgba(0, 0, 0, 1); /* Full opacity for login page */
}

/* Optional: Adjust the last link to avoid extra margin */
.nav-link:last-child {
  margin-right: 0; /* Remove margin for the last link */
}

.navbar-nav .nav-link.active {
  color:white !important;
  font-weight: 600;
}




